{% extends 'estoque/base.html' %}

{% block title %}Adicionar Novo Item{% endblock %}

{% block content %}
    <div class="card">
        <div class="card-header"><h1 class="card-title mb-0">Adicionar Novo Item</h1></div>
        <div class="card-body">
            <form method="post">
                {% csrf_token %}
                {% for field in form %}
                    <div class="mb-3">
                        <label for="{{ field.id_for_label }}" class="form-label">{{ field.label }}</label>
                        {{ field }}
                    </div>
                {% endfor %}
                <button type="submit" class="btn btn-primary">Salvar Item</button>
                <a href="{% url 'estoque:lista_itens' %}" class="btn btn-secondary">Cancelar</a>
            </form>
        </div>
    </div>
{% endblock %}
