{% extends 'estoque/base.html' %}

{% block title %}Adicionar Nova Escola{% endblock %}

{% block content %}
    <div class="card">
        <div class="card-header">
            <h1 class="card-title mb-0">Adicionar Nova Escola</h1>
        </div>
        <div class="card-body">
            <form method="post">
                {% csrf_token %}

                {% for field in form %}
                    <div class="mb-3">
                        <label for="{{ field.id_for_label }}" class="form-label">{{ field.label }}</label>
                        {{ field }}
                        {% if field.errors %}
                            {% for error in field.errors %}
                                <div class="alert alert-danger mt-1 p-1">{{ error }}</div>
                            {% endfor %}
                        {% endif %}
                    </div>
                {% endfor %}

                <button type="submit" class="btn btn-primary">Salvar Escola</button>
                <a href="{% url 'estoque:lista_escolas' %}" class="btn btn-secondary">Cancelar</a>
            </form>
        </div>
    </div>
{% endblock %}
