{% extends 'estoque/base.html' %}

{% block title %}Detalhes de: {{ item.nome }}{% endblock %}

{% block content %}
    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-success" role="alert">
                {{ message }}
            </div>
        {% endfor %}
    {% endif %}

    <div class="card">
        <div class="card-header">
            <h1 class="card-title mb-0">{{ item.nome }}</h1>
        </div>
        <div class="card-body">
            <p class="card-text"><strong>Descrição:</strong> {{ item.descricao|default:"Nenhuma descrição informada." }}</p>
            <p class="card-text"><strong>Quantidade Total em Estoque:</strong> {{ item.quantidade_total }}</p>
            <p class="card-text"><strong>Quantidade Disponível:</strong> {{ item.quantidade_disponivel }}</p>
        </div>
        <div class="card-footer text-body-secondary">
            <a href="{% url 'estoque:movimentar_item' item.pk %}" class="btn btn-success">Registrar Movimentação</a>
            <a href="{% url 'estoque:home' %}" class="btn btn-secondary">Voltar para a Lista</a>
        </div>
    </div>
{% endblock %}