<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Detalhes de: {{ item.nome }}</title>
    <style>
        body { font-family: sans-serif; max-width: 800px; margin: auto; padding: 20px; }
        a { color: #007bff; }
    </style>
</head>
<hr>
    <a href="{% url 'estoque:home' %}">Voltar para a lista de itens</a>

    <h2>Ações</h2>
    <p><a href="{% url 'estoque:movimentar_item' item.pk %}">Registrar Movimentação</a></p>
<body>
    <h1>{{ item.nome }}</h1>
    <p><strong>Descrição:</strong> {{ item.descricao|default:"Nenhuma descrição informada." }}</p>
    <p><strong>Quantidade Total:</strong> {{ item.quantidade_total }}</p>
    <p><strong>Quantidade Disponível:</strong> {{ item.quantidade_disponivel }}</p>

    <hr>
    <a href="{% url 'estoque:home' %}">Voltar para a lista de itens</a>
</body>
    {% if messages %}
            <ul class="messages" style="list-style-type: none; padding: 0;">
                {% for message in messages %}
                    <li style="padding: 10px; margin-bottom: 10px; background-color: #d4edda; color: #155724; border: 1px solid #c3e6cb;">
                        {{ message }}
                    </li>
                {% endfor %}
            </ul>
    {% endif %}
    ```
</html>
