{% extends 'estoque/base.html' %}
{% block title %}Página Inicial - SGITEC{% endblock %}
{% block content %}
    <div class="p-5 mb-4 bg-light rounded-3 text-center">
        <h1 class="display-4 fw-bold">Bem-vindo ao SGITEC</h1>
        <p class="fs-4">Sistema de Gestão de Itens Tecnológicos.</p>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="card text-center">
                <div class="card-body">
                    <h5 class="card-title">Produtos Cadastrados</h5>
                    <p class="card-text fs-1 fw-bold">{{ total_produtos }}</p>
                    <a href="{% url 'estoque:lista_produtos' %}" class="btn btn-primary">Gerenciar Produtos</a>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card text-center">
                <div class="card-body">
                    <h5 class="card-title">Escolas Atendidas</h5>
                    <p class="card-text fs-1 fw-bold">{{ total_escolas }}</p>
                    <a href="{% url 'estoque:lista_escolas' %}" class="btn btn-primary">Gerenciar Escolas</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}